html, body {
    height: 100%;
}

ul li {
    list-style: none;
    margin: 5px auto;
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
    display: inline-block;
}

.root, .content {
    height: 100%;
}

.content {
    width: 20%;
    padding: 50px;
    background-color: #728a9e;
}

.title, .position {
    color: #d5e7f3;
} 

.clear-btn, .list {
    color: #fff;
}

.title {
    margin-bottom: 0;
    font-weight: normal;
}

.clear-btn {
    float: right;
    margin-top: 23px;

    cursor: pointer;
}

.list {
    padding: 0;
}

.num {
    float: right;
}

.job {
    margin-top: 30px;
}

.job > .num {
    padding: 1px 8px;

    background-color: #647786;
    border-radius: 10px; 
}